header {
  padding: 3rem;
  display: grid;
}

/*------------------------ START OF LOGO COMPONENT ---------------------------*/
/* positioning rules for header section, allowing logo to stack on top of navigation */
#abcLogo {
  grid-row: 1;
  grid-column: 1;
  margin-left: 2.3rem;
}
.svglogo {
  object-fit: contain;
}
/*------------------------ START OF CONTACT BUTTON COMPONENT ---------------------------*/
#contactButton {
  width: 8.688rem;
  height: 2.625rem;
  border: solid 1px white;
  background: transparent;
  float: right;
}

#contactText {
  width: 8.625rem;
  height: 1.125rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.938rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: white;
}

.buttonContainer {
  grid-row: 1;
  grid-column: 2;
  justify-content: right;
  margin-right: 2rem;
}

/*------------------------ START OF NAVIGATION COMPONENT ---------------------------*/

.nav-left {
  float: left;
  nav-left: 2rem;
}
.navList {
  grid-row: 2;
  grid-column: 1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: normal;
  color: var(--white);
  list-style-type: none;
  text-align: left;
}

.navList a {
  color: white;
  text-decoration: none;
}
.navList a:hover {
  color: #ffc004;
}
